# deployment using configMap as volumeMounts
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python-app
        image: piyushpatil3423/flask-image:v1.0
        ports:
        - containerPort: 5000
